footer.footer
  .container
    .row.footer-top
      h2 All eCommerce CMS platforms <br/> supported
      p Magento 2, Shopify, WooCommerce, BigCommerce, Opencart and more.
      ul.frame-list
        li
          img(src="/imgs/Frame.png" alt="error")
        li
          img(src="/imgs/Frame (1).png" alt="error")
        li
          img(src="/imgs/Frame (2).png" alt="error")
        li
          img(src="/imgs/Frame (3).png" alt="error")
        li
          img(src="/imgs/Frame (4).png" alt="error")
    .row.footer-bottom 
      .banner
        img(src="/imgs/Group 283.png" alt="error")
      .footer-nav
        a(href="/")
          img(src="/imgs/Logo.png" alt="error")
        ul.footer-list
          li
            a.footer-link(href="") Pricing
          li
            a.footer-link(href="") Company
          li
            a.footer-link(href="") Blog
          li
            a.footer-link(href="") Contact Us
        .icon-group
          a(href="") 
            i(class="fa-brands fa-google")
          a(href="") 
            i(class="fa-brands fa-facebook")
          a(href="") 
            i(class="fa-brands fa-instagram")

