header.header-admin
  .container
    .navbar
      h3 Administrator
      .search-engineer
        input(class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...")
        button
          i(class="fa-solid fa-magnifying-glass")
      a.notify(href="")
        i(class="fa-solid fa-bell")