extends ../../layouts/admin.pug

block main
    .dashboard.mt-3
        .container
            h3.fs-1.text-center.pt-3.pb-5.fw-bold Dashboard
            .row
                .col-6
                    img(src="/imgs/Widget 1.png" alt="error")
                .col-6
                    img(src="/imgs/Widget 2.png" alt="error")