extends ../../layouts/default.pug

block main
    .content
        .container
            .row
                .col-xl-6.col-md-6.col-sm-6.col-12
                    .text-content
                        h1 Online products management tool
                        p Skyrocket your online store conversion rate the customer experience <br/> with visual merchandising.
                        .button-group
                            button
                                a(href="/product") Get a Product
                            button
                                a(href="/contact") Ask a Question
                .col-xl-6.col-md-6.col-sm-6.col-12
                    img(src="/imgs/Dashboard.png" alt="error")
    .services
        .container
            h2 Merchandising to increase sales.
            .service-list
                img(src="/imgs/01.png" alt="error")
                img(src="/imgs/02.png" alt="error")
                img(src="/imgs/03.png" alt="error")