extends ../../layouts/admin.pug

block main
    .help
        .container
            .row
                .col-12
                    h3.text-center.fw-bold.fs-2.pt-5.pb-5 Help
                    #accordionExample.accordion
                        .accordion-item
                            h2.accordion-header
                                button.accordion-button.fs-3.fw-bold(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne') Accordion Item #1
                            #collapseOne.accordion-collapse.collapse.show(data-bs-parent='#accordionExample')
                                .accordion-body
                                    strong.fs-4 This is the first item&apos;s accordion body. It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                        .accordion-item
                            h2.accordion-header
                                button.accordion-button.fs-3.fw-bold(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseOne') Accordion Item #2
                            #collapseTwo.accordion-collapse.collapse.show(data-bs-parent='#accordionExample')
                                .accordion-body
                                    strong.fs-4 This is the first item&apos;s accordion body. It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                        .accordion-item
                            h2.accordion-header
                                button.accordion-button.fs-3.fw-bold(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='true' aria-controls='collapseOne') Accordion Item #3
                            #collapseThree.accordion-collapse.collapse.show(data-bs-parent='#accordionExample')
                                .accordion-body
                                    strong.fs-4 This is the first item&apos;s accordion body.It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                        .accordion-item
                            h2.accordion-header
                                button.accordion-button.fs-3.fw-bold(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='true' aria-controls='collapseOne') Accordion Item #4
                            #collapseFour.accordion-collapse.collapse.show(data-bs-parent='#accordionExample')
                                .accordion-body
                                    strong.fs-4 This is the first item&apos;s accordion body.It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the