extends ../../layouts/default.pug

block main
    .reset.pt-5.pb-5
        .container
            .row
                .col-12
                    h2.fs-1.fw-bold.text-center.pb-5 New Password
                    form.d-flex.align-items-center.justify-content-center(action="/forgot-password/update-password?_method=PATCH" method="POST")
                        input.form-control.w-25(type="password" name="newPassword" placeholder="New Password..." required)
                        button.btn.btn-primary.fs-4.fw-bold(type="submit") Reset